body{
    background-color: lightblue;
}
.admin-aanzetten {
    background-color: red;
    color: white;
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
}

.admin-uitzetten {
    background-color: green;
    color: white;
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
}

/* main navigation section */
.main-header__brand img{
    width:100px;
  }
  .main-header__brand{
    display:inline-block;
    vertical-align:middle;
  }
  .main-navigation{
    display:inline-block;
    vertical-align:middle;
    margin-left:50px;
  }
  .main-navigation__item{
    display:inline-block;
  }
  .main-navigation__item a{
    font-size:18px;
    font-family:cursive;
    font-weight:500;
    text-decoration:none;
    color:#034;
    cursor:pointer;
    margin-left:40px;
  }
  .main-navigation__item a:hover{
    color:orangered;
  }
  header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:white;
    box-shadow:0px 3px 16px rgba(0 0 0 / 10%);
    z-index:1;
    
  }
  /* end of the main navigation section */

  .footergeheel {
    width: 100%;
  }
  .linkerfooter {
    width: 100%;
  }
  .linkerfooter img {
    max-width: 30%;
    margin-bottom: 20px;
  }
  .linkerfooter p {
    font: 500 18.52px/28px "Poppins", sans-serif;
    color: #fff;
  }
  .rechterfooter {
    width: 100%;
  }
  .rechterfooter {
    font: 600 22.52px/28px "Poppins", sans-serif;
    color: #fff;
  }
  .rechterfooter p span {
    display: inline-block;
    width: 100%;
    font: 500 18.52px/28px "Poppins", sans-serif;
    color: #fff;
    padding-top: 10px;
  }
  .rechterfooter p,
  .rechterfooter p a {
    font: 500 18.52px/28px "Poppins", sans-serif;
    color: #f2c426;
  }
  .footertop {
    width: 100%;
    background-color: rgb(118, 180, 201);
    padding: 60px 0;
  }
  .footeronderkant {
    width: 100%;
    background: #000;
    padding: 20px 0;
  }
  .footeronderkant p {
    font: 500 15.52px/28px "Poppins", sans-serif;
    color: #fff;
  }
  .footeronderkant p a {
    color: #f2c426;
  }
  
  .admin-navigation{
    background-color: rgb(106, 202, 178);
  }
  .adminfooter{
    background-color:rgb(64, 134, 117);
  }
  div.hoofddivider{
    width: 90%;
    margin: auto;
  }
  .main-navigation__items a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }